<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    <h1>学生列表</h1>
    <ul>
        {% for stu in students %}
            <li>
                {{forloop.counter}}---{{stu.sname}}--{{stu.sgrade}}
                {% comment %}
                    <h2>This is a comment and will not be showed.</h2>
                    <h3>{{stu.sname}}</h3>
                {% endcomment %}

                {% ifequal stu.sname 'yuxiao' %}
                    <h6>{{str|upper}}</h6>
                    <h5>{{str}}</h5>
                    <h3>I miss u.</h3>
                    <h2>{{list|join:'*'}}</h2>
                    <h10>{{test|default:'No test var'}}</h10>
                {% endifequal %}
            </li>


        {% empty %}
            <li>目前没有学生</li>
        {% endfor %}
    </ul>
</body>
</html>